*{
    margin: 0;
    padding: 0;

}

h1{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    
}


body{
    font-family: "Open Sans"
}

img{  height: 170px;
    width: 170px; 
    
    

}
